In [2]:
# Data handling
import pandas as pd
import numpy as np

# ML tools
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Saving model
import pickle
import os

In [18]:
import sys
print(sys.executable)

c:\Program Files\Python312\python.exe

In [3]:
import sklearn
print(sklearn.__version__)

1.8.0

In [5]:
import pandas as pd
import os

# Optional: print current working directory
print("Current working directory:", os.getcwd())

# Load dataset from the 'data' folder
data_path = "../data/loan_approval.csv"  # go up one level, then into data
data = pd.read_csv(data_path)

# Preview first 5 rows
print("First 5 rows of dataset:")
display(data.head())

# Dataset info
print("\nDataset Info:")
data.info()

# Target distribution
print("\nTarget variable counts:")
display(data['Loan_Approved'].value_counts())

Current working directory: c:\Users\Nithy\OneDrive\Desktop\loan approval\notebook
First 5 rows of dataset:

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Collateral_Value,Loan_Amount,Loan_Term,Loan_Purpose,Property_Area,Education_Level,Gender,Employer_Category,Loan_Approved
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,19403.0,45638.0,16619.0,84.0,Personal,Urban,Not Graduate,Female,Private,No
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,2580.0,49272.0,38687.0,NaN,Car,Semiurban,Graduate,NaN,Private,No
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,13844.0,6908.0,27943.0,72.0,NaN,Urban,NaN,Female,Government,Yes
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,9553.0,10844.0,27819.0,60.0,Business,Rural,Graduate,Female,Government,No
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,9386.0,37629.0,12741.0,72.0,Car,NaN,Graduate,Male,Private,Yes

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Applicant_ID        950 non-null    float64
 1   Applicant_Income    950 non-null    float64
 2   Coapplicant_Income  950 non-null    float64
 3   Employment_Status   950 non-null    object
 4   Age                 950 non-null    float64
 5   Marital_Status      950 non-null    object
 6   Dependents          950 non-null    float64
 7   Credit_Score        950 non-null    float64
 8   Existing_Loans      950 non-null    float64
 9   DTI_Ratio           950 non-null    float64
 10  Savings             950 non-null    float64
 11  Collateral_Value    950 non-null    float64
 12  Loan_Amount         950 non-null    float64
 13  Loan_Term           950 non-null    float64
 14  Loan_Purpose        950 non-null    object
 15  Property_Area       950 non-null    object
 16  Education_Level     950 non-null    object
 17  Gender              950 non-null    object
 18  Employer_Category   950 non-null    object
 19  Loan_Approved       950 non-null    object
dtypes: float64(12), object(8)
memory usage: 156.4+ KB

Target variable counts:

Loan_Approved
No     652
Yes    298
Name: count, dtype: int64

In [6]:
# Drop irrelevant columns
X = data.drop(['Loan_Approved', 'Applicant_ID'], axis=1)
y = data['Loan_Approved'].map({'Yes':1, 'No':0})  # Convert target to numeric

# Encode categorical variables
X = pd.get_dummies(X, drop_first=True)

print("Preprocessed features:")
display(X.head())

Preprocessed features:

,Applicant_Income,Coapplicant_Income,Age,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Collateral_Value,Loan_Amount,...,Loan_Purpose_Home,Loan_Purpose_Personal,Property_Area_Semiurban,Property_Area_Urban,Education_Level_Not Graduate,Gender_Male,Employer_Category_Government,Employer_Category_MNC,Employer_Category_Private,Employer_Category_Unemployed
0,17795.0,1387.0,51.0,0.0,637.0,4.0,0.53,19403.0,45638.0,16619.0,...,False,True,False,True,True,False,False,False,True,False
1,2860.0,2679.0,46.0,3.0,621.0,2.0,0.30,2580.0,49272.0,38687.0,...,False,False,True,False,False,False,False,False,True,False
2,7390.0,2106.0,25.0,2.0,674.0,4.0,0.20,13844.0,6908.0,27943.0,...,False,False,False,True,False,False,True,False,False,False
3,13964.0,8173.0,40.0,2.0,579.0,3.0,0.31,9553.0,10844.0,27819.0,...,False,False,False,False,False,False,True,False,False,False
4,13284.0,4223.0,31.0,2.0,721.0,1.0,0.29,9386.0,37629.0,12741.0,...,False,False,False,False,False,True,False,False,True,False

In [7]:
# Drop rows where target (Loan_Approved) is missing
data = data.dropna(subset=['Loan_Approved'])

# Now separate features and target
X = data.drop(['Loan_Approved', 'Applicant_ID'], axis=1)
y = data['Loan_Approved'].map({'Yes': 1, 'No': 0})

# Encode categorical features
X = pd.get_dummies(X, drop_first=True)

# Check shapes and any remaining NaNs
print("X shape:", X.shape)
print("y shape:", y.shape)
print("Missing values in y:", y.isnull().sum())
print("Missing values in X:\n", X.isnull().sum())

X shape: (950, 27)
y shape: (950,)
Missing values in y: 0
Missing values in X:
 Applicant_Income                   48
Coapplicant_Income                 48
Age                                48
Dependents                         47
Credit_Score                       48
Existing_Loans                     49
DTI_Ratio                          47
Savings                            49
Collateral_Value                   49
Loan_Amount                        47
Loan_Term                          48
Employment_Status_Salaried          0
Employment_Status_Self-employed     0
Employment_Status_Unemployed        0
Marital_Status_Single               0
Loan_Purpose_Car                    0
Loan_Purpose_Education              0
Loan_Purpose_Home                   0
Loan_Purpose_Personal               0
Property_Area_Semiurban             0
Property_Area_Urban                 0
Education_Level_Not Graduate        0
Gender_Male                         0
Employer_Category_Government        0
Employer_Category_MNC               0
Employer_Category_Private           0
Employer_Category_Unemployed        0
dtype: int64

In [8]:
# Fill numeric NaNs with median
numeric_cols = X.select_dtypes(include=np.number).columns
X[numeric_cols] = X[numeric_cols].fillna(X[numeric_cols].median())

# Fill categorical (dummy) NaNs with 0
categorical_cols = X.select_dtypes(include='uint8').columns
X[categorical_cols] = X[categorical_cols].fillna(0)

print("All missing values handled.")

All missing values handled.

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Training set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)

# Extra check
print("NaNs in y_train:", y_train.isnull().sum())
print("NaNs in y_test:", y_test.isnull().sum())

Training set shape: (760, 27)
Testing set shape: (190, 27)
NaNs in y_train: 0
NaNs in y_test: 0

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

print("Model training completed successfully!")

Model training completed successfully!

In [11]:
# Step: Evaluate model
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Predict on test data
y_pred = model.predict(X_test_scaled)

# Accuracy
print("Accuracy on test set:", accuracy_score(y_test, y_pred))

# Confusion Matrix
print("\nConfusion Matrix:")
display(confusion_matrix(y_test, y_pred))

# Classification Report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy on test set: 0.9526315789473684

Confusion Matrix:

array([[123,   6],
       [  3,  58]], dtype=int64)

Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.95      0.96       129
           1       0.91      0.95      0.93        61

    accuracy                           0.95       190
   macro avg       0.94      0.95      0.95       190
weighted avg       0.95      0.95      0.95       190

In [12]:
# Step: Save model, scaler, and feature order
import pickle
import os

# Create folder if not exists
if not os.path.exists('models'):
    os.makedirs('models')

# Save model
with open('models/loan_model.pkl', 'wb') as f:
    pickle.dump(model, f)

# Save scaler
with open('models/scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# Save feature order (important for Streamlit app)
feature_order = X.columns.tolist()  # X = your final features dataframe after encoding
with open('models/features.pkl', 'wb') as f:
    pickle.dump(feature_order, f)

print("Model, scaler, and feature_order saved in 'models' folder successfully!")

Model, scaler, and feature_order saved in 'models' folder successfully!